# Rust build artifacts
debug/
target/

# Rustfmt backup files
**/*.rs.bk

# MSVC Windows builds of rustc generate these, which store debugging information
*.pdb

# Cargo mutants output
**/mutants.out*/

# VS Code settings
.vscode/

# Visual Studio (VS Pro) build artifacts
*.obj
*.exe
*.dll
*.lib
*.sln
*.vcxproj*
*.user
*.aps
*.pch
*.vs/
[Bb]in/
[Oo]bj/

# JetBrains IDEs (RustRover, IntelliJ, etc.)
#.idea/

# OS-specific junk
Thumbs.db
Desktop.ini
.DS_Store

# Logs
*.log
